// layout
$navbarHeight = 3rem

// responsive breakpoints
$MQNarrow = 959px // pad
$MQMobile = 719px // mobile
$MQMobileNarrow = 419px



//vuepress的class样式，不用最后去掉
$contentClass = '.theme-default-content'
